<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>+.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,710},{36,37}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{36,37}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>Paging-button_02_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,911},{80,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,111}}</string>
                <key>sourceSize</key>
                <string>{80,111}</string>
            </dict>
            <key>Paging-button_02_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,911},{80,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,111}}</string>
                <key>sourceSize</key>
                <string>{80,111}</string>
            </dict>
            <key>anniu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,328},{95,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,96}}</string>
                <key>sourceSize</key>
                <string>{95,96}</string>
            </dict>
            <key>anniu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,426},{94,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,95}}</string>
                <key>sourceSize</key>
                <string>{94,95}</string>
            </dict>
            <key>beibao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,307},{115,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,116}}</string>
                <key>sourceSize</key>
                <string>{115,116}</string>
            </dict>
            <key>beibao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,843},{144,145}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{144,145}}</string>
                <key>sourceSize</key>
                <string>{150,151}</string>
            </dict>
            <key>button01_blue_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,65},{121,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,61}}</string>
                <key>sourceSize</key>
                <string>{121,61}</string>
            </dict>
            <key>button01_blue_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{121,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,61}}</string>
                <key>sourceSize</key>
                <string>{121,61}</string>
            </dict>
            <key>button02_red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,64},{119,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,60}}</string>
                <key>sourceSize</key>
                <string>{119,60}</string>
            </dict>
            <key>button02_red_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,2},{119,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,60}}</string>
                <key>sourceSize</key>
                <string>{119,60}</string>
            </dict>
            <key>button03_redsamsll+_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,50},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>button03_redsamsll+_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>button_blueoff_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,536},{61,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{61,63}}</string>
                <key>sourceSize</key>
                <string>{63,65}</string>
            </dict>
            <key>button_blueoff_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,471},{61,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{61,63}}</string>
                <key>sourceSize</key>
                <string>{63,65}</string>
            </dict>
            <key>button_fangyuan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,523},{91,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,94}}</string>
                <key>sourceSize</key>
                <string>{91,94}</string>
            </dict>
            <key>button_fangyuan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,494},{91,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,94}}</string>
                <key>sourceSize</key>
                <string>{91,94}</string>
            </dict>
            <key>button_green_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,128},{119,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,59}}</string>
                <key>sourceSize</key>
                <string>{119,59}</string>
            </dict>
            <key>button_green_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,79},{119,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,59}}</string>
                <key>sourceSize</key>
                <string>{119,59}</string>
            </dict>
            <key>button_music_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,681},{91,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,60}}</string>
                <key>sourceSize</key>
                <string>{91,60}</string>
            </dict>
            <key>button_music_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,652},{91,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,60}}</string>
                <key>sourceSize</key>
                <string>{91,60}</string>
            </dict>
            <key>button_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,376},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>button_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,376},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>button_red_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,67},{76,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,63}}</string>
                <key>sourceSize</key>
                <string>{76,63}</string>
            </dict>
            <key>button_red_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,2},{76,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,63}}</string>
                <key>sourceSize</key>
                <string>{76,63}</string>
            </dict>
            <key>button_sound_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,619},{91,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,60}}</string>
                <key>sourceSize</key>
                <string>{91,60}</string>
            </dict>
            <key>button_sound_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,590},{91,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,60}}</string>
                <key>sourceSize</key>
                <string>{91,60}</string>
            </dict>
            <key>button_violet_+_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,860},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,47}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>button_violet_+_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,860},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,47}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>chonglai_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,373},{95,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,96}}</string>
                <key>sourceSize</key>
                <string>{95,96}</string>
            </dict>
            <key>chonglai_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,230},{95,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,96}}</string>
                <key>sourceSize</key>
                <string>{95,96}</string>
            </dict>
            <key>chongzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,197},{49,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{49,50}}</string>
                <key>sourceSize</key>
                <string>{51,52}</string>
            </dict>
            <key>chushoujia_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,605},{58,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>chushoujia_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,543},{58,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>chushoujian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,714},{58,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,59}}</string>
                <key>sourceSize</key>
                <string>{58,59}</string>
            </dict>
            <key>chushoujian_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,667},{58,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,59}}</string>
                <key>sourceSize</key>
                <string>{58,59}</string>
            </dict>
            <key>dafanganniu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,2},{141,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,75}}</string>
                <key>sourceSize</key>
                <string>{141,75}</string>
            </dict>
            <key>dafanganniu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,472},{141,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,75}}</string>
                <key>sourceSize</key>
                <string>{141,75}</string>
            </dict>
            <key>di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{261,321}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{261,321}}</string>
                <key>sourceSize</key>
                <string>{267,323}</string>
            </dict>
            <key>fanhui_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,710},{200,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,148}}</string>
                <key>sourceSize</key>
                <string>{200,148}</string>
            </dict>
            <key>fanhui_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,560},{200,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,148}}</string>
                <key>sourceSize</key>
                <string>{200,148}</string>
            </dict>
            <key>fubenfanye.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,472},{49,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,80}}</string>
                <key>sourceSize</key>
                <string>{49,80}</string>
            </dict>
            <key>gognlai_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,472},{88,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,73}}</string>
                <key>sourceSize</key>
                <string>{90,73}</string>
            </dict>
            <key>gognlai_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,249},{88,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,73}}</string>
                <key>sourceSize</key>
                <string>{90,73}</string>
            </dict>
            <key>guan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,307},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>guan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,307},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>guanshengyin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,132},{95,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,96}}</string>
                <key>sourceSize</key>
                <string>{95,96}</string>
            </dict>
            <key>guanshengyin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,100},{95,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,96}}</string>
                <key>sourceSize</key>
                <string>{95,96}</string>
            </dict>
            <key>huangjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,710},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{27,28}}</string>
                <key>sourceSize</key>
                <string>{31,32}</string>
            </dict>
            <key>huodong_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,258},{115,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,116}}</string>
                <key>sourceSize</key>
                <string>{115,116}</string>
            </dict>
            <key>huodong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,696},{144,145}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{144,145}}</string>
                <key>sourceSize</key>
                <string>{150,151}</string>
            </dict>
            <key>jia.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,425},{114,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,116}}</string>
                <key>sourceSize</key>
                <string>{114,116}</string>
            </dict>
            <key>jia_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,293},{61,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{61,63}}</string>
                <key>sourceSize</key>
                <string>{63,65}</string>
            </dict>
            <key>jia_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,152},{61,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{61,63}}</string>
                <key>sourceSize</key>
                <string>{63,65}</string>
            </dict>
            <key>jian.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,376},{114,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,116}}</string>
                <key>sourceSize</key>
                <string>{114,116}</string>
            </dict>
            <key>jixu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{95,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,96}}</string>
                <key>sourceSize</key>
                <string>{95,96}</string>
            </dict>
            <key>jixu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,910},{95,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,96}}</string>
                <key>sourceSize</key>
                <string>{95,96}</string>
            </dict>
            <key>kaishi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,152},{68,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,69}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>kaishi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,472},{68,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,69}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>lienup_kaizhan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,757},{162,152}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,152}}</string>
                <key>sourceSize</key>
                <string>{164,154}</string>
            </dict>
            <key>lienup_kaizhan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,757},{162,152}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,152}}</string>
                <key>sourceSize</key>
                <string>{164,154}</string>
            </dict>
            <key>lvjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,710},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{27,28}}</string>
                <key>sourceSize</key>
                <string>{31,32}</string>
            </dict>
            <key>menu_jia.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,425},{114,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,116}}</string>
                <key>sourceSize</key>
                <string>{114,116}</string>
            </dict>
            <key>menu_jian.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,376},{114,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,116}}</string>
                <key>sourceSize</key>
                <string>{114,116}</string>
            </dict>
            <key>qiandao.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,860},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{63,48}}</string>
                <key>sourceSize</key>
                <string>{67,50}</string>
            </dict>
            <key>renwu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,189},{115,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,116}}</string>
                <key>sourceSize</key>
                <string>{115,116}</string>
            </dict>
            <key>renwu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,549},{144,145}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{144,145}}</string>
                <key>sourceSize</key>
                <string>{150,151}</string>
            </dict>
            <key>shengyin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,911},{95,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,96}}</string>
                <key>sourceSize</key>
                <string>{95,96}</string>
            </dict>
            <key>shengyin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,911},{95,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,96}}</string>
                <key>sourceSize</key>
                <string>{95,96}</string>
            </dict>
            <key>suipian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,140},{115,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,116}}</string>
                <key>sourceSize</key>
                <string>{115,116}</string>
            </dict>
            <key>suipian_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,325},{144,145}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{144,145}}</string>
                <key>sourceSize</key>
                <string>{150,151}</string>
            </dict>
            <key>texiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,325},{236,233}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{236,233}}</string>
                <key>sourceSize</key>
                <string>{244,243}</string>
            </dict>
            <key>tuichu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,223},{88,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,68}}</string>
                <key>sourceSize</key>
                <string>{88,68}</string>
            </dict>
            <key>tuichu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,223},{88,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,68}}</string>
                <key>sourceSize</key>
                <string>{88,68}</string>
            </dict>
            <key>wujiang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,198},{115,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,116}}</string>
                <key>sourceSize</key>
                <string>{115,116}</string>
            </dict>
            <key>wujiang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,860},{162,145}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{162,145}}</string>
                <key>sourceSize</key>
                <string>{166,151}</string>
            </dict>
            <key>xuanzhongye1.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,77},{131,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,73}}</string>
                <key>sourceSize</key>
                <string>{131,73}</string>
            </dict>
            <key>xuezhongye2.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,2},{131,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,73}}</string>
                <key>sourceSize</key>
                <string>{131,73}</string>
            </dict>
            <key>zhanting_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,126},{68,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,69}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>zhanting_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,126},{68,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,69}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>zhuangbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{193,195}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,195}}</string>
                <key>sourceSize</key>
                <string>{193,197}</string>
            </dict>
            <key>zidong_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,601},{91,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,93}}</string>
                <key>sourceSize</key>
                <string>{91,93}</string>
            </dict>
            <key>zidong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,601},{91,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,93}}</string>
                <key>sourceSize</key>
                <string>{91,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>button.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36ee4429b683d1178f51bda34a3c3171:1/1$</string>
            <key>textureFileName</key>
            <string>button.png</string>
        </dict>
    </dict>
</plist>
