{% macro rennder(data,parent) -%}
    {% if data.customClass != "" %}
    local node = require("app.views.{{ data.customClass }}").new()
    {% else %}
    local node = display.newSprite()
    {% endif %}
        :addTo({{parent}})
    
{%- endmacro %}